{% extends 'club/basic.html' %}

{% block title%} {{group.group_name}} - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{group.image}}" width="353px" height="400px">
    </div>


    </div>

    <div class="col-md-8">
        <b> <h5>{{group.group_name}}</h5> </b>
        <p>{{group.desc}}</p>
        <p>{{group.detaileddesc}}</p>


    </div>
    </div>
    <br> <br>
     <div class="row">
         <p>Coordinator Name: <b>{{group.coordinator}}</b></p>
        </div>


</div>




{% endblock %}