{% extends 'club/basic.html' %}
{% block css %}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
.card-img-top{
          width: 345px;
          height: 240px;
         display: block;
         margin-left: auto;
         margin-right: auto;
}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }

 {% endblock %}

{% block body %}
{% load static %}
    <!--Slideshow starts here -->
 <div style="background-color: #004f99;" class="jumbotron p-4 p-md-5 text-white rounded bg-darkblue">
    <div class="col-md-6 px-0">
      <h1 class="display-4 ">Clubs</h1>
    </div>
  </div>


<main role="main">


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for group, range in allProds %}
         {% for i in group %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
             <img src='/media/{{i.image}}' class="card-img-top" alt="...">
              <h5 class="card-title" style="margin-left:10px;margin-top:3px;">{{i.group_name}}</h5>
            <p class="card-text" style="margin-left:10px;">  {{i.desc}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/club/group/{{i.id}}">
                  <button type="button"  class="btn btn-sm btn-outline-secondary" style="margin-left:12px;margin-bottom:15px;">View More</button>
                    </a>
                </div>
            </div>
          </div>
        </div>

        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</main>
</div>
</div>
{% endblock %}